{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather...</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="bg-image">
        <div class="container-fluid">
            <div class="row">
            <div class="col">
                <div class="text-center heading-page">
                    <p>Weather Forcasting</p>
                </div>
            </div>
            </div>
            <div class="row">
                <div class=".offset-sm-4 col-sm-4 ml-auto mx-auto">
                    <div class="card text-center d-flex">
                        <p class="card-heading-cs">{{data.city}},{{data.country_code}}</p>
                        <p class="card-heading-cs-2">{{data.temparature}} &#8451;</p>
                        <span class="cs-icon"><img src="{{data.icon_url}}"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="text-center footer-section">
                        <p>Developed by : MD. Mobassher Rashedi</p>
                    </div>
                </div>
                </div>
        </div>
    </div>
</body>
</html>